server:
  port: 8070
spring:
  application:
    name: products
  datasource:
    url: jdbc:postgresql://localhost:5432/m321_products
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 15
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 1800000
      auto-commit: true
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org:
      springframework:
        web: DEBUG
        data: DEBUG

application:
  config: