server:
  port: 8080
spring:
  application:
    name: user
  datasource:
    url: jdbc:postgresql://localhost:5432/m321_users
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 15
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 1800000
      auto-commit: true
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret-key: rwomzpxqoumaoxhcydjbvmhtlegwxgiydjgvwvrozelxocffxvxawcrdfoynxjgi
  expiration-time: 86400000
  invite:
    expiration-time: 21600000

logging:
  level:
    org:
      springframework:
        web: DEBUG
        data: DEBUG